// theme file to be used across application

:root {
    --border-radius: 12px;
}

$stage-bg: #ebecf0;
$stage-text: #374865;
$board-bg: #005586;
$board-head-bg: #004065;
$board-head-text: #ddd;
$task-card-bg: white;
$task-card-text: black;
$card-icon: #44556F;

$ds-shadow-raised: 0px 1px 1px #091E4240, 0px 0px 1px #091E424F;
$ds-button-hovered: darkgrey;

.overlay {
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background-color: rgba(darkgrey, 0.6);
}

.hide {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s ease-in-out;
}

.ml-1 {
    margin-left: 1rem
}

.ml-1-5 {
    margin-left: 1.5rem
}

.ml-2 {
    margin-left: 2rem
}

.mt-1 {
    margin-top: 1rem
}

.mt-1-5 {
    margin-top: 1.5rem
}

.mt-2 {
    margin-top: 2rem
}